doctype html
html
  head
    include components/head/script
    include components/head/style
    title demo
  body
    include components/header
    include regions/slideshow
    include regions/carousel
    include regions/ranking
    include regions/24hhot
    include regions/streaming
    include regions/case
    include regions/hosts
    include components/footer
