doctype html
html
  head
    title demo
  body
    include components/header
    .title-with-text
        h2 熱門直播
        span Feature
    .title-with-text
        h2 金額排行榜
        span TOP 5 RANKING
    .title-with-text
        h2 人氣排行榜
        span 24H HOT HOT
    .title-with-text
        h2 進行中的直播
        span STREAMING
    h2 經典案例
    
    h2 熱門直播主
    include components/footer
