doctype html
html
  head
    include components/head/script
    title demo
  body
    include components/header
    include regions/slideshow
    include regions/carousel
    include components/footer
