doctype html
html
  head
    meta(charset="utf-8")
    include components/head/script
    include components/head/style
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title demo
  body.member-page
    include components/header
    .container.py-0
      .row.d-flex
        .col-xl-3.d-flex
          include components/sidebar_member
        .col-xl-9.mt-5
          #content.my-5.card-radius
            .container
              block content
                

    include components/footer
