doctype html
html
  head
    meta(charset="utf-8")
    include components/head/script
    include components/head/style
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title demo
  body
    include components/header_login
    _login
    include components/stream/chat
    include components/stream/navigation
    include components/stream/products
    include components/footer
