doctype html
html
  head
    meta(charset="utf-8")
    include components/head/script
    include components/head/style
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title setting
  body
    include components/header
    include components/setting-step
    include components/footer
