doctype html
html
  head
    include components/head/script
    include components/head/style
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title demo
  body
    include components/header_login
    include components/footer
