a {
  text-decoration: none;
  transition: all .5s;

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}

.overflow-x{
  position: relative;
  overflow-x: scroll;
}


.field-image{
  a{
    position: relative;
    overflow: hidden;
    display: block;
    opacity: 1!important;
    img{
      transition: 3s linear;
    }
    &:hover{
      img{
        transform: scale(1.2);
      }
    }
  }
}
