div#chat
  div.img_wrap
    img(src="/images/Bitmap.png")
  div.chat_wrap
    div.current_name aarown wu
    div.contents
      div.content_wrap
        span.content.row.align-items-center
          div.username.col-sm-2.col-md-3
            div mark wang
          div.col-sm-10.col-md-9 嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安
      div.content_wrap
        span.content.row.align-items-center
          div.username.col-sm-2.col-md-3
            div mark wang
          div.col-sm-10.col-md-9 嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安
      div.content_wrap
        span.content.row
          div.username.col-sm-2.col-md-3
            div mark wang
          div.col-sm-10.col-md-9 嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安
      div.content_wrap
        span.content.row
          div.username.col-sm-2.col-md-3
            div mark wang
          div.col-sm-10.col-md-9 嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安
      div.content_wrap
        span.content.row
          div.username.col-sm-2.col-md-3
            div mark wang
          div.col-sm-10.col-md-9 嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安
      div.content_wrap
        span.content.row
          div.username.col-sm-2.col-md-3
            div mark wang
          div.col-sm-10.col-md-9 嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安嗨嗨安安早安嗨嗨安安早安嗨嗨安安早安嗨嗨安
    div.input_area_wrap
      div(contenteditable="true")
      div.actions
        button.submit chat
