mixin Product(first_img ,active)
  div.col-xs-auto.product_item(class=active)
    div.content_wrap
      div.img_wrap
        img(src=first_img)
      div.product_details
        div.d-flex
          div.left
            div.bg
              div.d-flex
                div.icon
                  img(src="/images/time.png")
                div.wrap
                  span 寄送時間
                  span.time 2018/12/31
          div.right
            div.bg
              div.d-flex
                div.icon
                  img(src="/images/quantity.png")
                div.wrap
                  span 剩餘數量
                  span.quantity 888888888
      div.product_price
        div.row.justify-content-between.align-items-end
          div.col-auto
            div.product_name 商品名稱
            div.price
              span.currency $&nbsp;&nbsp;
              span 15000
          div.col-auto
            div.check
              <i class="fas fa-check"></i>
    div.product_quantity_wrap
      div.quantity_input
        div.wrap
          span.minus
            <i class="fas fa-minus"></i>
          input(type="text" value="3")
          span.plus
            <i class="fas fa-plus"></i>
      div.total
        span.currency $&nbsp;&nbsp;
        span 45000

div#products
  div.wrap
    div.row.product_list.justify-content-center
      +Product('/images/product1.png')
      +Product('/images/product2.png','active')
      +Product('/images/product3.png')
      +Product('/images/product4.png')
    div.support_input_wrap
      div.wrap
        span 額外贊助
        span +
        span
          input(type="text")
        span =
        span 總計
        span.totals NT$ 1500
    div.actions
      div.wrap
        div.button_wrap
          button.clear 清除
        div.button_wrap
          button.next 下一步
