div#navigation
  div.wrap.row.justify-content-md-between.justify-content-center
    div.left.col-auto
      div.row.align-items-center
        div.picture_wrap.col-auto
          div.row.align-items-center
            div.picture.col-auto
              img(src="/images/userpicture.png")
            div.username.col-auto @username
        div.somethingelse.col-auto
          div Type something
    div.right.col-auto
      div.row
        div.col-auto
          a(href="/")
            div.img_wrap
              img(src="/images/follow.png")
            span 追蹤
        div.col-auto
          a(href="/")
            div.img_wrap
              img(src="/images/subscription.png")
            span 訂閱
        div.col-auto
          a(href="/")
            div.img_wrap
              img(src="/images/share.png")
            span 分享
        div.col-auto
          a(href="/")
            div.img_wrap
              img(src="/images/report.png")
            span 檢舉
