mixin footerMenuItem(name,href)
  li.pet
    a(href=href)= name

footer#footer
  .container
    div.menu
      ul.row.justify-content-center
        +footerMenuItem('關於貝果bar','/')
        +footerMenuItem('使用條款','/')
        +footerMenuItem('隱私權政策','/')
        +footerMenuItem('聯絡我們','/')
