mixin headerMenuItem(name,href)
  li.pet
    a(href=href)= name

header#header
  wrap
    div.menu
      ul
        +headerMenuItem('首頁','/')
        +headerMenuItem('瀏覽直播','/')
        +headerMenuItem('教學','/')
          
