mixin headerMenuItem(name,href)
  li.menu-item
    a(href=href)= name

header#header
  div.header_wrapper
    div.d-flex
      div.left_links
        ul.d-flex
          +headerMenuItem('首頁','/')
          +headerMenuItem('瀏覽直播','/')
          +headerMenuItem('教學','/')
      div.logo
        div.img_wrap
          a(href="/")
            img(src="./images/logo.png" width="250px")
      div.right_links
        div.d-flex
          div.search
            form
              input.search_field(type="text" placeholder="search")
              input.submit(type="button")
          a.register_login(href="/") 註冊/登入
          a(href="/")
            img(src="./images/company.png" width="180px")

            //a(href="/")
            //  img(src="./images/search.png" width="80px")
