mixin headerMenuItem(name,href)
  li.menu-item
    a.d-flex.align-items-center(href=href)= name

header#header
  div.header_wrapper
    .wrap.d-flex.justify-content-between
      .d-flex.align-items-center
        div.logo.mx-2
          div.img_wrap
            a(href="/")
              img(src="./images/logo.png" width="230px")
        div.company
          a(href="/")
            img(src="./images/company.png" width="170px")
        div.left_links.ml-2
          ul.d-flex
            +headerMenuItem('首頁','/')
            +headerMenuItem('瀏覽直播','/')
            +headerMenuItem('教學','/')
      div.right_links
        div.d-flex
          div.search
            form
              input.search_field(type="text" placeholder="search")
              input.submit(type="button")
          div.has-children
            a(href="/")
              div.img_wrap
                img(src="./images/icon/avatar.png" width="38px")
              span.username aarown wu
            ul.sub-menu
              li.sub-menu-item
                a(href="/")
                  img(src="./images/icon/member-center.png")
                  span 會員中心
              li.sub-menu-item
                a(href="/")
                  img(src="./images/icon/live.png")
                  span 我要直播
              li.sub-menu-item
                a(href="/")
                  img(src="./images/icon/logout.png")
                  span 會員登出

header#mobile_header
  div.header_wrapper
    button#toggle
      img(src="./images/menu_click.png" width="30px")
    div.img_wrap
      a(href="#")
        img(src="./images/mobile_logo.png" width="120px")
    button#search
      img(src="./images/mobile_search.png" width="30px")
  div.mobile_menu
    div.close_wrap
      button#close
        img(src="./images/close.png")
    ul.menu
      li.menu_item
        a(href="#")
          div.wrap
            div.img_wrap
              img(src="./images/home.png")
            div.text 首頁
      li.menu_item
        a(href="#")
          div.wrap
            div.img_wrap
              img(src="./images/stream.png")
            div.text 瀏覽直播
      li.menu_item
        a(href="#")
          div.wrap
            div.img_wrap
              img(src="./images/teaching.png")
            div.text 教學
      li.menu_item.has-children
        a(href="#").has-children
          div.img_wrap
            img(src="./images/mobile_avatar.png" width="35px;")
          div.username aarown wu
        ul.sub-menu
          li.sub-menu-item
            a(href="/")
              img(src="./images/icon/member-center.png")
              span 會員中心
          li.sub-menu-item
            a(href="/")
              img(src="./images/icon/live.png")
              span 我要直播
          li.sub-menu-item
            a(href="/")
              img(src="./images/icon/logout.png")
              span 會員登出
  div#search_form
    form
      div.input_wrap
        input(type="text")
        div.search_close
          img(src="./images/search-cancel.png")
