nav.container.step-nav(role="navigation")
    ul.d-flex.justify-content-around.items
        li.step1.p-5.item
            a.d-block.step-link.font-weight-bold.active(href='/stream-setting.html') STEP1.
            span.d-block.text-left.pl-1 頻道設定
        li.step2.p-5.item
            a.d-block.step-link.font-weight-bold(href='/stream-setting2.html') STEP2.
            span.d-block.text-left.pl-1 活動設定
        li.step3.p-5.item
            a.d-block.step-link.font-weight-bold(href='/stream-setting3.html') STEP3.
            span.d-block.text-left.pl-1 回饋方案
        li.step4.p-5.item
            a.d-block.step-link.font-weight-bold(href='/stream-setting4.html') STEP4.
            span.d-block.text-left.pl-1 開始直播
