div.setting-id-block.container
    div.setting-block.border.rounded.p-2
        div.text-description.d-flex.justify-content-start.align-items-center
            i.fas.fa-chevron-circle-right.fa-2x(aria-hidden='true')
            div.text 您的直播頻道 ID
        form.container
            div.form-wrap
                div.form-group
                    i.fab.fa-facebook.fa-2x(aria-hidden='true')
                    input
                div.form-group
                    i.fab.fa-youtube.fa-2x(aria-hidden='true')
                    input
                div.form-group
                    i.fab.fa-twitch.fa-2x(aria-hidden='true')
                    input
