mixin setting-block-title(title)
    div.setting-block_title.d-flex.justify-content-start.align-items-center.form-group
        i.fas.fa-chevron-circle-right.fa-2x(aria-hidden='true')
        div.text= title
