mixin stepMenuItem(href,step,text,active)
    li(class!=attributes.class).p-sm-3.p-md-5.item
        a.d-block.step-link.font-weight-bold(href=href class=active)= step
        span.d-block.text-left.pl-1.font-weight-bold= text
