include ./block_title

div.setting-block.border.rounded.p-2.container
    form.add-case-setting-form
        div.d-flex.flex-wrap.row
            div.col.col-12.col-md-6
                +setting-block-title('支持金額')
                div.form-group
                    input.form-control.rounded.bg-five(type="text" placeholder="NT $")
                +setting-block-title('回饋描述(建議30字以內)')
                div.form-group
                    textarea.form-control.rounded.bg-five(rows="4" placeholder="請輸入回饋描述")
                    +setting-block-title('回饋數量')
                div.form-group.d-flex.quantity-wrap
                    div.form-check.form-check-inline
                        input#limited.form-check-input.rounded-circle(type="checkbox")
                        label.form-check-label(for="limited") 有限量
                    div.input-group
                        div.input-group-prepend.rounded-left
                            button.btn.btn-outline-secondary.qtyminus(type="button" for='updates-feedback-qty') -
                        input#updates-feedback-qty.no-br.form-control.text-center.quantity(type="text" value="1" min="1" max="100")
                        div.input-group-append.rounded-right
                            button.btn.btn-outline-secondary.qtyplus(type="button" for='updates-feedback-qty') +
            div.col.col-12.col-md-6
                +setting-block-title('回饋圖片 (可不上傳圖片)')
                div.form-group
                    div.row.upload-wrap
                        div.img-wrap.col.col-12.col-lg-6
                            img(src='./images/default_case_img.png')
                        div.input-wrap.col.col-12.col-lg-6
                            input#uploadImg.form-control-file.text-hide(type="file")
                            label.clickme(for="uploadImg")
                +setting-block-title('回饋/寄送時間')
                div.form-group.d-flex.time-wrap
                    div.year-dropdown
                        select#someTime.form-control
                            option YYYY
                            - for (var x = 2000; x < 2018; x++)
                                option= x
                    div.month-dropdown
                        select#someTime.form-control
                            option MM
                            - for (var x = 1; x < 13; x++)
                                option= x
        button.btn.btn-dark.m-3.px-4.edit-submit(type="submit") 下一步
