.page-setting {
    .main {
        background-color: #eee;
    }
}

.step-nav {
    .items {
        .item {
            .step-link {
                position: relative;
                color: #212529;
                font-size: 46px;
                z-index: 1;
                &.active,
                &:hover {
                    &:after {
                        position: absolute;
                        z-index: -1;
                        bottom: 4px;
                        display: block;
                        width: 155px;
                        height: 7px;
                        content: '';
                        background-color: #ffab4c;
                    }
                }
            }

            span {
                font-size: 29px;
            }
        }
    }
}
