#products {
  .credit_card {
    margin-top: 30px;
    input:not([type="email"]) {
      text-align: center;
      padding-left: 0px !important;
    }
    .credit_card_wrap {
      max-width: 550px;
      margin: 0 auto;
      margin-top: 30px;

      .which_card {
        .field_wrap {
          display: flex;
          justify-content: center;
          margin: -21px;

          > * {
            padding: 21px;
          }
        }

        & ~ hr {
          margin: 30px 0px;
        }
      }

      .card_no,
      .expired_time {
        overflow: hidden;
        margin-bottom: 30px;
      }

      .code ~ hr{
        margin: 40px 0px;
      }

      .agreement {
        margin-bottom: 40px;

        .field_wrap {
          > .radio {
            display: flex;
            align-items: center;

            label {
              color: #A83338;
              line-height: 20px;
            }
            a {
              color: #0084AD;
            }
          }
        }
      }
    }
  }
}
