#navigation {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;

  .left {
    .username {
      /* @username: */
      font-family: NotoSansCJKtc-Regular;
      font-size: 24px;
      color: #000000;
    }

    .somethingelse {
      /* Type something: */
      font-family: NotoSansCJKtc-Black;
      font-size: 18px;
      color: #000000;
    }
  }
  .right {
    a {
      text-align: center;
      span {
        margin-top: 10px;
        display: block;
        /* 追蹤: */
        font-family: NotoSansCJKtc-Bold;
        font-size: 14px;
        color: #000000;
      }
    }
  }
}
