#products {
  padding: 50px 20px;
  background-color: rgba(black,0.8);

  @media(min-width: 1621px) {
    padding: 50px 0px;
  }
  > .wrap {
    // max-width: 1600px;
    // margin: 0 auto;
    // padding: 10px 10px 20px 10px;
    background-color: white;

    .product_list {
      margin: -7px;

      .product_item {
        padding: 7px;

        @media(min-width: 1301px) {
          flex: 0 0 25%;
          max-width: 25%;
        }
        &.active {
          .content_wrap {
            border-color: #FFAB4C;
          }

          .product_price {
            .check {
              background-color: #FFAB4C;
            }
          }
        }

        .content_wrap {
          padding: 8px;
          border: 5px solid #D8D8D8;
          cursor: pointer;

          .img_wrap {
            img {
              width: 100%;
            }
          }

          .product_details {
            overflow: hidden;

            > .d-flex {
              > * {
                flex-basis: 50%;
                max-width: 50%;

                .bg {
                  padding: 6px 10px;
                  overflow: hidden;

                  > * {
                    align-items: center;
                    margin: 0 -7px;
                    justify-content: flex-start;

                    > * {
                      padding: 0 7px;

                      &.wrap {
                        flex: 1;

                        span {
                          display: block;
                          /* 寄送時間: */
                          font-family: NotoSansCJKtc-Regular;
                          font-size: 16px;
                          color: white;

                          &.time {
                            margin-top: 5px;
                            color: #C2002F;
                          }

                          &.quantity {
                            margin-top: 5px;
                            color: #FFAB4C;
                          }
                        }
                      }
                    }
                  }
                }

                &.left {
                  background-color: #F4C300;
                }

                &.right {
                  background-color: black;
                }
              }
            }
          }

          .product_price {
            margin-top: 20px;

            .product_name {
              /* 商品名稱: */
              font-family: NotoSansCJKtc-Regular;
              font-size: 16px;
              color: #000000;
            }

            .price {
              /* $ 15,000: */
              font-family: NotoSansCJKtc-Regular;
              font-size: 16px;
              color: #E55B25;
              margin-top: 15px;
            }
          }

          .check {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(gray,0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 20px;
          }
        }
      }
    }

    > a.support {
      background-color: #E8380D;
      display: block;
      font-size: 18px;
      color: white;
      padding: 20px 10px;
      text-align: center;
      border-radius: 10px;
      margin-top: 20px;


      &:hover {
        opacity: .8;
      }
    }
  }
}
