mixin caseList
  li.item.col-lg-4.col-12.mb-5
    .wrap.shadow
      .field-image
        a(href="/")
          img(src="./images/case.png")
      .wrap.px-5.py-4
        .field-title.text-left.mb-3
          a.d-flex(href="/")
            h3.underLine-second 小白獅壯遊計畫
        .field-content.text-left
          p 小時候我們看過多拉A夢的漫畫，對他拿隨身攜帶的百寶袋記憶猶新，雖然造型小巧，但是簡單方便
      .wrap.d-flex.field-bar.p-2
        div.field-user.d-flex.align-items-center.pr-3
          a(href="/")
            img.mr-2(src="./images/icon/avatar.png" width="27px")
          a(href="/") @arrow wu
        div.field-money.d-flex.align-items-center.pr-3
          img.mr-2(src="./images/icon/money.png" width="20px")
          span $23,456,789
        div.field-people.d-flex.align-items-center
          img.mr-2(src="./images/icon/member.png" width="20px")
          span 6,789
  
.region-case
  .container
    div.d-flex.justify-content-center.my-5
      h2.text-center.my-5
        span.underLine-shadow 經典案例
    ul.row
      +caseList
      +caseList
      +caseList
      +caseList
      +caseList
      +caseList
