mixin streamingList()
  li.col-lg-4.col-12.mb-4
    .wrap.shadow
      .field-image
        img(src="/images/streaming.png")
      .field-body.d-flex.align-items-center.py-3.px-3
        .field-perfile.pr-2
          img(src="/images/icon/user.png" width="40px")
        .wrap
          .field-title.mb-2
            h3 活動名稱
          .field-user id / 直播主名稱
      
      
.region-streaming.pt-3
    div
      ul.row
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
      div.btn.btn-dark.btn-lg.px-5.my-5 更多直播
