mixin hosts
  li.col
    .field-image
      img(src="./images/hosts.png")
    .field-title
      h3 ARROW WU
    .field-user
      span id / 3849128732

.region-hosts.bg-second
  .container
    h2 熱門直播主
    ul.row
      +hosts
      +hosts
      +hosts
      +hosts
    ul.row
      +hosts
      +hosts
      +hosts
      +hosts
      +hosts
      +hosts
