mixin rankList(rank,icon,amount)
  li.item.d-flex.flex-wrap.align-items-center.p-2
    .field-rank.align-self-start.p-3= rank
    .field-image
      img(src="./images/rank.png")
    .wrap.ml-3.col-xs-12
      .field-title.text-left.mb-2 title
      .wrap.d-flex.align-items-center
        .field-prefile
          img(src="./images/icon/user.png" width="45px")
        .filed-user @ arrown wu
        .field-nav.d-flex.align-items-center.px-2.py-1.ml-3
          div
            img(src=icon width="45px")
          span.ml-2(style="white-space:nowrap")= amount

.region-ranking.pt-3.pb-5
  .container
    .row.d-flex.justify-content-between.mb-5.flex-wrap
      .wrap.d-flex.flex-column.col-lg-5.col-12
        h2.mb-5 
           span.d-block.mb-3 金額排行榜
           div TOP 5 RANKING
        ul.shadow
          +rankList(1,'./images/icon/money.png','$23,456,789')
          +rankList(2,'./images/icon/money.png','$23,456,789')
          +rankList(3,'./images/icon/money.png','$23,456,789')
          +rankList(4,'./images/icon/money.png','$23,456,789')
          +rankList(5,'./images/icon/money.png','$23,456,789')
      .wrap.d-flex.flex-column.align-items-lg-end.col-lg-5.col-12
        h2.mb-5.text-right
           span.d-block.mb-3 金額排行榜
           div TOP 5 RANKING
        ul.shadow
          +rankList(1,'./images/icon/people.png','6789')
          +rankList(2,'./images/icon/people.png','6789')
          +rankList(3,'./images/icon/people.png','6789')
          +rankList(4,'./images/icon/people.png','6789')
          +rankList(5,'./images/icon/people.png','6789')
  
