div#big_slick
  div.field_items
    div.field_item
      img.d-block.img-fluid(src="../images/butters.gif")
  div.field_items
    div.field_item
      img.d-block.img-fluid(src="../images/butters.gif")
  div.field_items
    div.field_item
    img.d-block.img-fluid(src="../images/butters.gif")
