div#slideshow
  div#big_slick
    div.field_items.slick-slide
      div.field_item
        img.d-block.img-fluid(src="../images/slideshow/slideshow.png")
        div.title_wrapper
          div.title Introducing westreamer
          div.sub-title 全球矚目眾籌直播網站
        a.more(href='#') 更多直播
    div.field_items.slick-slide
      div.field_item
        img.d-block.img-fluid(src="../images/slideshow/slideshow.png")
        div.title_wrapper
          div.title Introducing westreamer
          div.sub-title 全球矚目眾籌直播網站
        a.more(href='#') 更多直播
    div.field_items.slick-slide
      div.field_item
        img.d-block.img-fluid(src="../images/slideshow/slideshow.png")
        div.title_wrapper
          div.title Introducing westreamer
          div.sub-title 全球矚目眾籌直播網站
        a.more(href='#') 更多直播
