mixin streamingList()
  li.col-3.mb-4
    .wrap.shadow
      .field-image
        img(src="/images/streaming.png")
      .field-body.d-flex.align-items-center
        .field-perfile
          img(src="/images/icon/user.png")
        .wrap
          .field-title
            h3 活動名稱
          .field-user id / 直播主名稱
      
      
.region-streaming.bg-second.pt-3
  .container
    h2.mb-5 
      span 進行中的直播
      div STREAMING
    div
      ul.row
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
