mixin streamingList()
  li.col-lg-3.col-12.mb-4
    .wrap.shadow
      .field-image
        img(src="./images/streaming.png")
      .field-body.d-flex.align-items-center.py-3.px-3
        .field-perfile.pr-2
          img(src="./images/icon/avatar.png" width="36px")
        .wrap
          .field-title.mb-2
            h3 活動名稱
          .field-user id / 直播主名稱
      
      
.region-streaming.bg-second.pt-3
  .container
    h2.mb-5 
      span 進行中的直播
      div STREAMING
    div
      ul.row
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
        +streamingList
      div.btn.btn-dark.btn-lg.pl-5.pr-5 更多直播
