$tr-radius: 20%;
$tr-radius-second: 6%;

table {
  min-width: 100%;
  white-space: nowrap;
  font-size: 10px;
  .view{
    display: none;
  }

  tr {
    border-bottom: 10px solid $bg-third;
    background: #fff;

    td:first-child {
      border-top-left-radius: $tr-radius;
      border-bottom-left-radius: $tr-radius;
    }

    td:last-child {
      border-top-right-radius: $tr-radius;
      border-bottom-right-radius: $tr-radius;
    }
  }

  tbody {
    tr {
      &:not(.detail){
        cursor: pointer;
      }
      &:nth-child(4n+3) {
        background: $bg-four;
      }

      &.detail {
        background: $bg-third;
      }
    }
  }
  h3{
    font-size: 18px;
  }
  .btn{
    font-size: 18px;
  }
}
