$tr-radius: 20%;
$tr-radius-second: 6%;

table {
  width: 100%;
  white-space: nowrap;

  tr {
    border-bottom: 10px solid $bg-third;
    background: #fff;

    td:first-child {
      border-top-left-radius: $tr-radius;
      border-bottom-left-radius: $tr-radius;
    }

    td:last-child {
      border-top-right-radius: $tr-radius;
      border-bottom-right-radius: $tr-radius;
    }
  }

  tbody {
    tr {
      &:nth-child(4n+3) {
        background: $bg-four;
      }

      &.detail {
        background: $bg-third;
      }
    }
  }
  h3{
    font-size: 18px;
  }
}
