.region-ranking{
  ul{
    li{
      background: #F1F1F1;
      margin-bottom: 2px;
    }
    li{
      .field-rank{
        background: #fff;
      }
      .field-image{
        img{
          max-width: 185px;
        }
      }
      .field-nav{
        position: relative;
        overflow: hidden;
        min-width: 150px;
        background: #fff;
        border-radius: 40px;
      }
    }
    li:first-child{
      background: $main-first;
      .field-nav{
        background: $main-third;
        color: #fff;
      }
    }
  }
  .shadow{
    box-shadow: 0 0 80px rgba(0,0,0,0.3);
  }
}
