.region-carousel{
  .slide-carousel{
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-list{
    padding: 0px!important;
  }
  .field-content{
    p{
      font-weight: bold;
      font-size: 20px;
    }
  }
  .field-category{
    a{
      display: flex;
      align-items: center;
      background: #0C5E65;
      color: #fff;
      height: 100%;
      padding: 35px 25px;
    }
  }
  h2{
    @include media-breakpoint-up(lg){
      margin-bottom: 0px!important;
      div{
        position: absolute;
        z-index: 1;
      }
    }
  }
  .slider-nav{
    position: relative;
    button.slick-arrow{
      left: 25px;
      width: 34px;
      height: 64px;
      position: absolute;
      top: 35%;
      z-index: 1;
      &.slick-prev {
        background-image: url('/images/slideshow/left-arrow.png');
        left: 20px;
      }

      &.slick-next {
        background-image: url('/images/slideshow/right-arrow.png');
        right: 20px;
        left: auto;
      }
      &:before{
        display: none;
      }
    }
  }
}
