.region-ranking{
  ul{
    li{
      background: #F1F1F1;
      border-bottom: 2px solid #fff;
    }
    li{
      .field-rank{
        background: #fff;
        font-weight: bold;
        font-size: 18px;
        height: 40px;
        min-width: 40px;
      }
      .field-image{
        img{
          //max-width: 185px;
        }
      }
      .field-nav{
        position: relative;
        overflow: hidden;
        min-width: 120px;
        background: #fff;
        border-radius: 40px;
        img{
          min-width:20px; 
        }
      }
    }
    li:first-child{
      background: $main-first;
      color:#fff;
      .field-rank{
          color: #FF2600;
      }
      .field-nav{
        background: $main-third;
        color: #fff;
      }
    }
  }
  .shadow{
    box-shadow: 0 0 80px rgba(0,0,0,0.3);
  }
}
