.sidebar{
  background: $bg-first;
  width: 100%;
  .btn.active{
    background: $btn-second;
  }
  h2{
    font-size: 20px;
  }
  ul{
    @include media-breakpoint-up(xl){
      max-width: 170px;
    }
    a.btn{
      padding: 5px 10px;
    }
  }
}
